<!-- <app-lines></app-lines> -->

<div class="container">
  <div class="row" style="display: flex;">
    <div class="col-md-3">
      <app-lines></app-lines>
    </div>
    <br>
    <div class="col-md-3">
      <app-bar></app-bar>
    </div>
    <br>
    <div class="col-md-3">
      <app-collum></app-collum>
    </div>
    
  </div>
</div>

<div class="container">
  <div class="row" style="display: flex;">
    <div class="col-md-3">
      <app-pie></app-pie>
    </div>
    <br>
    <div class="col-md-3">
      <app-newchart></app-newchart>
    </div>
    <br>
    <div class="col-md-3">
      <app-radar></app-radar>
    </div>
   
  </div>
</div>

<!-- <app-pie></app-pie> -->

<router-outlet></router-outlet>
